.search-container form input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding-left: 10px;
}

.search-container form button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  padding-right: 10px;
}
