section {
  background-color: lightgray;
  display: flex;
}

.dropdown {
  margin: 20px;
}

.center-filters{
  margin: 0 auto;
  display: flex;
}

.scroll{
  overflow-y: scroll;
  max-height: 200px;
}

.white {
  color: white;
}
