<main>
  <section>
    <div class="center">
      <div class="dropdown">
        <select id="select-category" class="btn btn-secondary dropdown-toggle" (change)="onSelect(e)" aria-labelledby="dropdownMenuButton">
          <option selected data-hidden="true">Category</option>
          <option *ngFor="let category of categories  | orderBy: 'name'" value="{{category.name}}">
              {{category.name}}
          </option>
        </select>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Les mieux notés</a>
          <a class="dropdown-item" href="#">Les moins bien notés</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Année
        </button>
        <div class="dropdown-menu scroll" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let year of years">{{ year }}</a>
        </div>
      </div>
    </div>
  </section>
</main>
