<main>
  <section>
    <div class="center-filters">
      <div class="dropdown">
        <select id="select-category" class="btn btn-secondary dropdown-toggle" (change)="onSelect()" aria-labelledby="dropdownMenuButton">
          <option selected [hidden]="hideCategoryTitle">Categorie</option>
          <option *ngFor="let category of categories  | orderBy: 'name'" value="{{category.name}}">
              {{category.name}}
          </option>
        </select>
      </div>
      <div class="dropdown">
        <select class="btn btn-secondary dropdown-toggle" aria-labelledby="dropdownMenuButton" (onClick)="hideNotesTitleFunc()">
          <option [hidden]="hideNotesTitle">Notes</option>
          <option class="dropdown-item white">De la + haute à la + basse</option>
          <option class="dropdown-item white">De la + basse à la + haute</option>
        </select>
      </div>
      <div class="dropdown">
        <select class="btn btn-secondary dropdown-toggle" aria-labelledby="dropdownMenuButton" (onClick)="hideYearsTitleFunc()">
          <option [hidden]="hideYearsTitle">Année</option>
          <option *ngFor="let year of years">{{ year }}</option>
        </select>
      </div>
    </div>
  </section>
</main>
