.modal-box {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

.modal-box.show-youtube-modal {
  display: block;
}

.modal-box button {
  position: absolute;
  left: 910px;
}

.close {
  color: white;
  opacity: 1;
  font-size: 2.5rem;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  color: white;
  opacity: 1;
}
