<div class="card-deck text-center">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Streaming</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{moviePricing}}€ <small class="text-muted">/ film</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Votre film disponible tout de suite</li>
        <li>Une durée de 24h pour le visionner</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Choisir cette offre</button>
    </div>
  </div>
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Download</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">4,99€ <small class="text-muted">/ film</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Téléchargez votre film</li>
        <li>Regardez-le de façon illimité</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary">Choisir cette offre</button>
    </div>
  </div>
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Pro</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">14,99€ <small class="text-muted">/ mois</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Tous les films en accès libre</li>
        <li>Possibilité de 5 connexions en simultané</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary">Créer mon compte</button>
    </div>
  </div>
</div>
