<section class="section-movie-single col align-self-center">
  <div class="data-movie">
    <div class="movie-poster-box" (click)="showYoutubeModal()">
      <span class="play"></span>
      <img
        src="{{data.image}}"
        alt="{{data.name}}"
        class="movie-poster"
      >
    </div>
    <app-modal-youtube></app-modal-youtube>
    <div class="data-movie-item-box">
      <h2>{{data.name}}</h2>
      <div class="data-movie-item">
        <p><span>Synopsis:</span> {{data.synopsis}}</p>
      </div>
      <div class="data-movie-item">
        <p><span>Date de sortie:</span> {{data.date}}</p>
      </div>
      <div class="data-movie-item">
        <p><span>Réalisateur:</span> J.J. Abrams</p>
      </div>
      <div class="data-movie-item">
        <p><span>Distribution:</span> Daisy Ridley, John Boyega, Oscar Isaac, Adam Driver, Harrison Ford, Carrie Fisher</p>
      </div>
      <div class="data-movie-item rating">
        <span>Note moyenne:</span>
        <app-rating></app-rating>
      </div>
    </div>
  </div>
  <app-movie-pricing></app-movie-pricing>
</section>
